<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Filmography</b>
  <ul>
  <% @actor.roles.each do |role| %>
    <%= role.character_name %>
    <%= role.movie.title %>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
