<%= form_for(@director) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => Time.now.year, :end_year => Time.now.year - 100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
